<h1> <%= @player1.name %> vs. <%= @player2.name %> </h1>

<div class="hp">
  <h2> <%= @player1.name %> HP: <%= @player1.hit_points %> </h2>
  <h2> <%= @player2.name %> HP: <%= @player1.hit_points %> </h2>
</div>


<div>
  <form action="/attack">
  <button name="player1_attack">Player 1 Attack</button>
  </form>
</div>