<h1> <%= @game.player1.name %> vs. <%= @game.player2.name %> </h1>

<div class="hp">
  <h2> <%= @game.player1.name %> HP: <%= @game.player1.hit_points %> </h2>
  <h2> <%= @game.player2.name %> HP: <%= @game.player2.hit_points %> </h2>
</div>

<div class="attack">

  <h2> <%= @game.current_turn.name %>'s turn </h2>
  
  <form action="/attack">
  <button name="Attack">Attack</button>
  </form>
</div>